/* ----------PREPARATION----START---------*/

@font-face {
  font-family: open-sans-r;
  src: url(/fonts/OpenSans-Regular.ttf), url(/fonts/OpenSans-Regular.woff),
    url(/fonts/OpenSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: open-sans-b;
  src: url(/fonts/OpenSans-Bold.ttf), url(/fonts/OpenSans-Bold.woff),
    url(/fonts/OpenSans-Bold.woff2);
  font-weight: 400;
  font-style: bold;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: open-sans-r, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  margin: 0;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
/* ----------PREPARATION---------END---------*/

/*------------POPUP----------START---------- */
.popup-wrap {
  display: none;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  padding-top: 25px;
}
.popup-container {
  display: flex;
  flex-direction: column;
  max-width: 390px;
  min-height: 590px;
  margin: 0 auto;
  position: relative;
  background-color: #ffffff;
  padding: 60px 20px 55px 25px;
  line-height: 1.6;
}
.popup-form-select {
  margin-bottom: 30px;
}
.popup-select-name {
  display: block;
  margin-bottom: 10px;
}
.popup-select {
  color: #888;
  width: 100%;
  height: 50px;
  padding-left: 18px;
  padding-right: 18px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../svg/form-arrows.svg);
  background-size: 3%;
  background-repeat: no-repeat;
  background-position: right 5px center;
  border: none;
  background-color: #f4f7f6;
}
.popup-select:focus {
  outline: none;
  border: 1px solid #b59f5b;
}
.popup-form-radio {
  margin-bottom: 30px;
}
.popup-radio-name {
  display: flex;
  margin-bottom: 10px;
}
.radio {
  appearance: none;
}
.popup-radio-text::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  vertical-align: middle;
  margin-right: 8px;
}
.radio:checked ~ .popup-radio-text::before {
  background-image: url(../svg/form-circle.svg);
}
.popup-opinion-name {
  display: inline-block;
  margin-bottom: 10px;
}
.popup-field-opinion {
  overflow: auto;
  resize: none;
  width: 330px;
  height: 130px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
  border: none;
  background-color: #f4f7f6;
}
.popup-field-opinion:focus {
  outline: none;
  border: 1px solid #b59f5b;
}
.popup-close {
  appearance: none;
  width: 16px;
  height: 16px;
  position: absolute;
  top: -25px;
  right: 0;
  background-color: transparent;
  border: none;
  background-image: url(../svg/form-x.svg);
  background-repeat: no-repeat;
}

/* -----------POPUP------END--------------- */

/* --------HEAADER----START----------- */
.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.header {
  position: relative;
  background-image: url("../img/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  z-index: 0;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 120px;
}
/*  */
.header-burger {
  display: none;
}
/*  */
.logo-mobile-link {
  display: none;
}
.logo-img {
  width: 180px;
}

.menu-list {
  display: flex;
}

.menu-list-item {
  margin-left: 35px;
  list-style-type: none;
}

.menu-list-item:first-child {
  margin-left: 0;
}
.menu-link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
.menu-link:hover {
  text-decoration: underline;
}

.header-tittle {
  font-family: open-sans-b, sans-serif;
  font-size: 45px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  max-width: 700px;
  margin: auto;
  padding-bottom: 146px;
}
/* --------HEADER---END------------ */
/* 

*/
/* --------MAIN-----START---------- */

.main {
  margin-top: 65px;
}
.main-title.top {
  font-size: 20px;
}
.trends-wrapper {
  display: flex;
  margin-bottom: 65px;
}
.trends-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: calc((100% - 15px) / 4);
  margin-right: 5px;
  min-height: 320px;
  z-index: 0;
}
.trends-card:last-child {
  margin-right: 0;
}
.trends-card:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.trends-inner {
  margin: 20px;
  padding: 15px 15px 0px 15px;
  border: 2px solid #b59f5b;
}
.first-card {
  background: url(../img/trend1.jpg) no-repeat center;
  background-size: cover;
}
.second-card {
  background: url(../img/trend2.jpg) no-repeat center;
  background-size: cover;
}
.third-card {
  background: url(../img/trend3.jpg) no-repeat center;
  background-size: cover;
}
.fourth-card {
  background: url(../img/trend4.jpg) no-repeat center;
  background-size: cover;
}
.news-name.trends-name {
  margin-bottom: 0;
}
.trends-link {
  color: #eeeeee;
}
.trends-link:hover {
  color: #b59f5b;
  transition: 0.2s;
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
}
.news-wrapper {
  max-width: 778px;
}

.news {
  display: flex;
  margin-bottom: 60px;
}

.news-img {
  display: block;
}
.news-text {
  margin-left: 30px;
}
.news-teg {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}
.teg-item {
  margin-right: 20px;
}
.teg-item:last-child {
  margin-right: 0;
}

.item-link {
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  color: #b59f5b;
}
.item-link:hover {
  text-decoration: underline;
}

.news-name {
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.name-link {
  color: #0f0d0e;
}
.name-link:hover {
  color: #b59f5b;
  transition: 0.2s;
}
.news-text-meta {
  margin-bottom: 45px;
}
.date {
  color: #888888;
  font-size: 12px;
  margin-right: 12px;
}

.meta-link {
  font-family: open-sans-b, sans-serif;
  color: #000000;
  font-size: 12px;
}
.products {
  margin-bottom: 60px;
}
.products-wrapper {
  display: flex;
  justify-content: space-between;
}
.product-card-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-title {
  margin-top: 50px;
}
.product-info {
  flex-grow: 1;
  max-width: 345px;
  padding: 0px 15px;
  border: 2px solid #b59f5b;
  margin-top: -35px;
}
.about {
  font-size: 15px;
  line-height: 1.5;
  color: #0f0d0e;
  margin-bottom: 15px;
}
.about-link {
  color: #b59f5b;
}
.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.price {
  display: flex;
  flex-direction: column;
}
.valid {
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}
.invalid {
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: line-through;
}
.cart-btn {
  height: 48px;
  padding: 15px 25px;
  border: none;
  background-color: #b59f5b;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 13px;
}
.cart-btn:hover {
  background-color: #000000;
  transition: 0.3s;
}
.vertical {
  display: flex;
}
/* --------MAIN-----END---------- */
/* 

*/
/* ---------ASIDE--NEW-POST--START------- */

.aside {
  max-width: 272px;
}
.aside-item {
  margin-bottom: 60px;
}
.top {
  display: block;
  text-align: center;
  margin-bottom: 0px;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.3;
}
.top::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 20px;
  width: 66px;
  height: 3px;
  background: #b59f5b;
}
.new {
  max-width: 272px;
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
}
.new-img {
  padding-top: 5px;
}

.new-text {
  margin-left: 15px;
}
.new-link {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}
.new-link:hover {
  color: #b59f5b;
  transition: 0.2s;
}
.new-name {
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.3;
  margin-top: 3px;
}
/* ---------ASIDE--NEW-POST--END------- */

/* ---------ASIDE--SEARCH--START------- */
.search {
  margin-top: 60px;
  display: flex;
  width: 100%;
}

.search-field {
  box-sizing: border-box;
  padding-left: 18px;
  width: 222px;
  height: 47px;
  font-size: 13px;
  border: none;
  background-color: #f4f7f6;
}

.search-field:focus {
  outline: none;
  border: 1px solid #b59f5b;
}
.search-button {
  border: none;
  width: 47px;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  background-color: #b59f5b;
}
.search-button:hover {
  background-color: #000000;
  transition: 0.3s;
}
/* ---------ASIDE--SEARCH--END------- */

/* ---------SUBSCRIBE----START------- */
.option-button {
  margin-top: 18px;
  height: 48px;
  border: none;
  width: 100%;
  background-color: #b59f5b;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 13px;
}

.option-button:hover {
  background-color: #000000;
  transition: 0.3s;
}

.subscribe-field {
  box-sizing: border-box;
  padding-left: 18px;
  width: 100%;
  height: 48px;
  font-size: 13px;
  border: none;
  background-color: #f4f7f6;
}
.subscribe-field:focus {
  outline: none;
  border: 1px solid #b59f5b;
}
/* ---------SUBSCRIBE----END------- */
/* ------------TAGS---START-------- */
.tegs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.tegs-item {
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 6px;
}
.tegs-link {
  display: block;
  text-decoration: none;
  font-family: open-sans-b, sans-serif;
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 12px;
  border: 3px solid #f4f3f1;
  padding: 3px 11px;
}
.tegs-link:hover {
  border: 3px solid #b59f5b;
}

/* ------------TAGS---END-------- */

/* -------THEMES----START--------- */
.themes {
  list-style-type: none;
}
.themes-link {
  align-items: center;
  align-content: space-between;
  text-decoration: none;
  font-family: open-sans-b, sans-serif;
  color: #000000;
  font-size: 14px;
  padding: 0 5px 0 0;
}
.themes-link:hover {
  color: #b59f5b;
}

.themes-item {
  margin-top: 14px;
  margin-left: 3px;
}

.themes-item::after {
  content: "";
  display: block;
  position: relative;
  margin-top: 14px;
  width: 100%;
  height: 1px;
  background: #eeeeee;
}

.themes-count {
  display: inline-block;
  vertical-align: top;
  color: #b59f5b;
  font-family: open-sans-b, sans-serif;
  font-size: 12px;
}
/* -------THEMES----END--------- */

/* -------FOOTER----START--------- */
.footer {
  margin-top: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.contacts {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
  background-color: #f4f7f6;
}
.contacts-item {
  padding: 30px 12px;
}
.contacts-link {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}
.dribbble {
  background-image: url(../svg/001-dribbble.svg);
}

.pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.tumblr {
  background-image: url(../svg/003-tumblr.svg);
}
.copyright {
  display: block;
  color: #999999;
  font-family: open-sans-b, sans-serif;
  font-size: 12px;
  text-align: center;
  margin-bottom: 40px;
}

/* -------FOOTER----END----------- */

/*  -===================================================*/
@media (min-width: 641px) and (max-width: 1199px) {
  .header {
    background-image: url("../img/banner-bg-tablet.jpg");
  }
  .header-menu {
    display: none;
  }
  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .header-burger:before,
  .header-burger:after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
  }
  .header-burger:before {
    top: 0;
  }
  .header-burger:after {
    bottom: 0;
  }
  .header-burger span {
    position: absolute;
    left: 0;
    top: 8px;
    background-color: #ffffff;
    width: 100%;
    height: 3px;
  }
  .trends-wrapper {
    flex-wrap: wrap;
  }
  /* ------------------------------- */

  .trends-card {
    width: calc((100% - 5px) / 2);
  }
  .trends-card:nth-child(1),
  .trends-card:nth-child(2) {
    margin-bottom: 5px;
  }
  .trends-card.second-card {
    margin-right: 0;
  }

  /* ------------------------------------ */

  .wrapper {
    padding: 0 40px;
  }
  .news-wrapper {
    margin-right: 40px;
  }
  .news {
    flex-direction: column;
    border-bottom: 2px solid rgb(215, 213, 213);
  }

  .news-img {
    margin-bottom: 15px;
    width: 100%;
  }
  .news-text {
    margin-left: 0;
  }
  .products-wrapper {
    flex-wrap: wrap;
  }
  .product-card-wrap {
    width: calc((100% - 30px) / 2);
    margin-bottom: 30px;
  }
  .product-card-wrap img {
    width: 100%;
  }
  .product-pic {
    width: 100%;
    padding: 0 20px;
  }
  .product-info {
    max-width: 100%;
  }
}

@media (max-width: 640px) {
  .header {
    background-image: url("../img/banner-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    z-index: 0;
  }
  .logo-mobile-link {
    display: block;
    margin-bottom: 30px;
    text-align: center;
  }
  .logo-mobile-img {
    max-width: 305px;
  }
  .logo-link {
    display: none;
  }
  .menu {
    justify-content: flex-end;
  }
  .header-menu {
    display: none;
  }
  .header-tittle {
    font-size: 30px;
    line-height: 1.4;
  }
  .header-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }
  .header-burger:before,
  .header-burger:after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
  }
  .header-burger:before {
    top: 0;
  }
  .header-burger:after {
    bottom: 0;
  }
  .header-burger span {
    position: absolute;
    left: 0;
    top: 8px;
    background-color: #ffffff;
    width: 100%;
    height: 3px;
  }
  .trends-wrapper {
    flex-wrap: wrap;
  }
  .trends-card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
  }
  /* --------------------- */

  /* ----------------------------------------------- */
  .news {
    flex-direction: column;
    border-bottom: 2px solid rgb(215, 213, 213);
  }
  .news-img {
    margin-bottom: 15px;
    width: 100%;
  }
  .news-text {
    margin-left: 0;
  }
  .aside {
    max-width: 100%;
  }
  .new {
    max-width: 100%;
  }
  .search-group {
    width: 100%;
  }
  .search-field {
    width: 100%;
  }
  .products-wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .product-info {
    max-width: 100%;
  }
  .product-card-wrap:nth-child(1),
  .product-card-wrap:nth-child(2) {
    margin-bottom: 30px;
  }
  .main-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .product-card-wrap {
    width: 100%;
    margin-bottom: 30px;
  }
  .product-card-wrap img {
    width: 100%;
  }
  .product-pic {
    width: 100%;
    padding: 0 20px;
  }
  .product-info {
    max-width: 100%;
  }
}

/* ================== */
